extends layout

block content
  h1= title
  p Bienvenue sur la page #{title}
  p #{welcome}
    div(class='jumbotron text-center monJumbotron') 
        h3(class='text-success') Ceci applique une classe Bootstrap ! 
          <br />
              a(class='btn btn-outline-danger' href='home') La page home.pug

  div(class='row')
    div(class='col-md-4') col 4
      
    div(class="col-md-8") col 8

  