extends layout

block content
  h1= title
  p Une autre page #{title}
  p #{welcome}
    div(class='jumbotron text-center monJumbotron') 
       a(class='btn btn-outline-danger' href='/') Page d'accueil
       p #{ingredients}