

<mat-grid-list cols="3" class="smoothie-content" gutterSize="40px" >
        <mat-grid-tile *ngFor="let smoothie of smoothies" rowHeight="1:1">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>
                  {{smoothie.title}}
              </mat-card-title>
            </mat-card-header>
            <img class="img-smoothie" mat-card-image src="assets/img/3.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                {{smoothie.description}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <a routerLink="../ajouterSmoothie"><button mat-raised-button color="warn">Ajouter un smoothie</button></a>
              <button mat-raised-button color="accent" routerLink="/details/{{smoothie._id}}">Découvrir la Recette</button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
</mat-grid-list>
